<!DOCTYPE html>
<html>
  <head>
    <title>DragAndDrop</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700" rel="stylesheet" />
    <%= stylesheet_link_tag 'polaroids', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Nav will go here  -->
    <nav>
      <%= render 'shared/nav'%>
    </nav>
    <!-- Body will go here  -->
    <div id="container">
      <div class="main">

       <%= yield %>
        
      </div>

    </div>
    <!-- Footer will go here  -->
    
    <footer class="footer-container"">
      <%= render "shared/footer" %>
    </footer> 
  </body>
</html>
